/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  .link{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: block;
  }
 .nav-profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
 }
  /* NavBar styling */
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#fff;
  }
  
  .menu {
    display: none;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin: 0 15px;
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color:#FE0000;
    margin: 3px 0;
  }

  .menu-item{
    width: 30%;
    height: 100%;
    margin: auto 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu-item li{
    display: block;
    transition: all 0.2s ease;
  }
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .menu {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color:transparent;
      text-align: center;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
    }
    .menu-item{
        display: none;
    }
  
    .menu.open {
      transform: scaleY(1);
    }
  
    .hamburger {
      display: block;
    }
    .small-menu{
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
  li:hover{
    padding:8px;
    border-radius: 15px;
    background-color: #ffffff73;
    color: black;
  }
  