@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container-fluid{
  padding: 0;
}
body{
  width: 100%;
  height: auto;
  background-color: #fff;
}
.col{
  flex-direction: column;
}
.row {
  flex-direction: row;  
}
.btn{
  @apply md:px-3 md:py-2 md:h-[40px] border-none bg-[#fff] text-black font-bold capitalize px-2 py-1 text-sm
}
